@model MeuPrimeiroMvc.Models.Item

@{
    ViewData["Title"] = "Edit";
}

<h3>Edit an item</h3>

<p>Item: @Model.Name</p>
<li>Agora vamos listar somente o item que queremos editar para ver os dados atuais dele como o nome e o preço</li>
<li>Não precisamos puxar o id porque ele já está no model, o id é a chave primária e o asp-for já vai puxar o valor do id</li>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Name</td>
            <td>$@Model.Price.ToString("N2")</td>
        </tr>
    </tbody>
</table>


<form asp-action="Edit" method="post">
    <div class="from-group">
        <label for="Name">Name</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="from-group">
        <label for="Price">Price</label>
        <input type="number" asp-for="Price" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>

</form>